<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<display-name>Profile</display-name>
  	<description></description>
  	<servlet-class>Profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Schedule</servlet-name>
  	<display-name>Schedule</display-name>
  	<description></description>
  	<servlet-class>Schedule</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Schedule</servlet-name>
  	<url-pattern>/Schedule</url-pattern>
  </servlet-mapping>
</web-app>
